[submodule "Bash-Snippet"]
	path = Bash-Snippet
	url = https://github.com/alexanderepstein/Bash-Snippets.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/tj/git-extras.git
[submodule "git-scripts"]
	path = git-scripts
	url = https://github.com/jwiegley/git-scripts.git
