[submodule "Bash-Snippet"]
	path = Bash-Snippet
	url = https://github.com/alexanderepstein/Bash-Snippets.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/tj/git-extras.git
[submodule "git-scripts"]
	path = git-scripts
	url = https://github.com/jwiegley/git-scripts.git
[submodule "docker-scripts"]
	path = docker-scripts
	url = https://github.com/Bensuperpc/docker-scripts.git
[submodule "git/git-updater"]
	path = git/git-updater
	url = https://github.com/Bensuperpc/git-updater.git
[submodule "git-extra-commands"]
	path = git-extra-commands
	url = https://github.com/unixorn/git-extra-commands.git
[submodule "cryptr"]
	path = cryptr
	url = https://github.com/nodesocket/cryptr.git
[submodule "others-dist"]
	path = others-dist
	url = https://github.com/MertcanGokgoz/UsefulBashScripts.git
[submodule "git-quick-stats"]
	path = git-quick-stats
	url = https://github.com/arzzen/git-quick-stats.git
[submodule "bash-scripts"]
	path = bash-scripts
	url = https://github.com/jrussellfreelance/bash-scripts.git
